.cart {
	&__main {
		position: relative;
		display: flex;
		// justify-content: right;
		margin-top: 126px;
		flex-direction: column;
		align-items: flex-end;
	}

	&__header {
		display: flex;
		justify-content: center;
		gap: 20px;
		margin-bottom: 20px;
	}
	&__items {
		border-radius: 30px;
		width: 800px;
		// width: 100%;
		height: 90px;
		p {
			font-weight: 500;
			font-size: 28px;
			color: #fff;
			margin: 0;
			display: flex;
			align-items: center;
			justify-content: left;
			height: 90px;
			padding-left: 20px;
		}
		background: #a5eeff;
	}
	&__buy {
		background: #e4c0ff;
		border-radius: 30px;
		width: 330px;
		height: 90px;
		font-weight: 500;
		font-size: 28px;
		text-transform: lowercase;
		color: #fff;
		cursor: pointer;
	}
	&__content {
		width: 800px;
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	&__inner {
		display: flex;
		gap: 20px;
		justify-content: center;
	}

	&__item {
		background: #f7f8f9;
		border-radius: 30px;
		width: 800px;
		height: 158px;
	}
	&__result {
		width: 330px;
		background: #000;
		border-radius: 30px;
		height: 158px;
		padding: 20px;
		p {
			color: #fff;
			margin: 0;
		}
		> p {
			font-weight: 500;
			font-size: 28px;
			padding-bottom: 30px;
		}
	}
	&__total {
		display: flex;
		align-items: center;
		justify-content: space-between;
		p {
			font-weight: 400;
			font-size: 15px;
			text-transform: lowercase;
			color: #fff;
		}
		padding-bottom: 8px;
	}
	&__cost {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__item {
		display: flex;
		align-items: center;
		// justify-content: space-between;
		padding: 20px;
		gap: 20px;
		> svg {
			min-width: 20px;
			min-height: 20px;
			cursor: pointer;
		}
	}

	&__about {
		img {
			width: 105px;
			height: 110px;
			border-radius: 30px;
		}
		display: flex;
		// gap: 20px;
		width: 100%;
		justify-content: space-between;
	}
	&__name {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		p {
			font-weight: 400;
			font-size: 20px;
			text-transform: lowercase;
			color: #000;
			margin: 0;
		}
		> svg {
			cursor: pointer;
		}
	}
	&__price {
		margin: 0;
		font-weight: 500;
		font-size: 20px;
		color: #000;
	}
	&__input {
		border: 2px solid #000;
		width: 56px;
		height: 56px;
		background: transparent;
	}
	&__counter {
		display: flex;
		align-items: center;
	}
	&__input {
		font-weight: 400;
		font-size: 20px;
		text-align: center;
		color: #000;
	}
	&__button {
		position: relative;
		z-index: 99;
		> svg {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 1;
			pointer-events: none;
		}
	}
}

.counter-plus {
	border: 2px solid #000;
	border-left: none;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	width: 55px;
	height: 56px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	user-select: none;
}
.counter-minus {
	border: 2px solid #000;
	border-right: none;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	width: 55px;
	height: 56px;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
	cursor: pointer;
}
