.home {
	height: calc(100vh - 106px);

	&__inner {
		margin-top: 2.5rem;
		display: flex;
		justify-content: space-between;
		// align-items: center;
		// margin-bottom: 9.125rem;
	}

	&__slide {
		max-height: 80vh;
		max-width: 400px;
		border-radius: 30px;
		margin: 0;
		img {
			max-height: 790px;
		}
	}
	&__slide-2 {
		max-height: 80vh;
		border-radius: 30px;
		max-width: 275px;
		img {
			max-height: 790px;
		}
	}
	&__swiper-main {
		position: relative;
		max-width: 660px;
	}
	&__swiper {
		margin: 0;
		border-radius: 30px;
	}

	&__main {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 100%;
		margin-top: 16%;
		width: 100%;
		max-width: 36.875rem;
	}
	&__text {
		font-weight: 500;
		font-size: 1.25rem;
		text-align: justify;
	}

	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: end;
	}
	&__title {
		position: relative;
		font-weight: 500;
		font-size: 7.5rem;
		margin: 0;
		div {
			margin: 0;
			display: flex;
			align-items: center;
			p {
				perspective: 600;
				margin: 0;
			}
		}
	}
	&__plus {
		position: absolute;
		right: 50px;
		top: 0;
	}
	&__logo {
		position: absolute;
		z-index: -1;
		bottom: 50%;
		left: -10%;
		transform: translate(50%, 50%);
	}

	&__btn {
		background-color: $black;
		border-radius: 3.125rem;
		width: 12.5rem;
		height: 3.125rem;

		display: flex;
		justify-content: space-between;
		align-items: center;

		color: $white;
		padding: 0px 1.3125rem;
		font-weight: 500;
		font-size: 0.8125rem;

		cursor: pointer;
	}
	&__info-wrapper {
		width: 300px;
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: 20px;
		margin: 0;
	}

	&__navigation {
		display: flex;
		gap: 12px;
		justify-content: right;
	}
	&__arrow-prev {
		width: 40px;
		height: 40px;
		background-color: $black;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}
	&__arrow-next {
		width: 40px;
		height: 40px;
		background-color: $black;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}

	&__scroll {
		position: absolute;
		bottom: 54px;
		left: 50%;
		transform: translate(-50%);
		z-index: 999;

		backdrop-filter: blur(10px);
		background: rgba(255, 255, 255, 0.4);

		border: 1px solid #fff;
		border-radius: 50px;
		width: 226px;
		height: 76px;

		display: flex;
		align-items: center;
		gap: 8px;
		justify-content: center;

		font-weight: 500;
		font-size: 20px;
		color: #fff;
	}
}
.hidden-scroll {
	overflow: hidden;
}

.preloading {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 9999;
}

.about {
	&__nav {
		position: fixed;
		top: 30px;
		width: 100%;
		right: 0;
		left: 0;
		max-width: 1430px;
		margin: 0 auto;
		padding: 0 15px;
		z-index: 9998;
	}

	&__title {
		text-align: center;
		padding-top: 70px;
		p {
			font-weight: 400;
			font-size: 48px;
			color: #000;
			margin: 0;
		}
		margin-bottom: 82px;
		// margin-top: 140px;
	}
	&__img-left {
		img {
			border-radius: 50px;
		}
	}
	&__inner {
	}
	&__img-right {
		img {
			border-radius: 50px;
		}
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-bottom: 50px;
	}
	&__img {
		display: flex;
		justify-content: space-between;
	}
	&__text {
		position: relative;
		display: flex;
		justify-content: right;
		p {
			position: absolute;
			left: -215px;
			top: 8px;
			max-width: 450px;
			margin: 0;
			font-weight: 500;
			font-size: 17px;
			max-height: 65px;
			color: #000;
		}
	}
}

.navigation {
	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__active {
		background: #a5eeff;
		border-radius: 50px;
		width: 151px;
		height: 58px;
		display: flex;
		align-items: center;
		justify-content: center;

		button {
			background: none;
			font-family: $font-main;
			font-weight: 600;
			font-size: 20px;
			color: #fff;
			cursor: pointer;
			p {
				margin: 0;
				display: flex;
				gap: 12px;

				align-items: flex-start;
				span {
					font-weight: 600;
					font-size: 15px;
					color: #fff;
				}
			}
		}
	}
	&__panel {
		display: flex;
		gap: 60px;
		button {
			border-radius: 50px;
			width: 150px;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 58px;
			background: transparent;
			font-weight: 600;
			font-size: 20px;
			cursor: pointer;
			p {
				margin: 0;
				display: flex;
				gap: 6px;

				span {
					font-weight: 600;
					font-size: 15px;
				}
			}
		}
	}
	&__current {
		border: 2px solid #000;
		color: #000;
		span {
			color: #000;
		}
	}
	&__notActive {
		border: 2px solid rgba(0, 0, 0, 0.25);
		color: rgba(0, 0, 0, 0.25);
	}
}

.catalog-home {
	margin-top: 50px;
	position: relative;
	&__title {
		h2 {
			text-align: center;
			font-weight: 400;
			font-size: 48px;
			color: #000;
			margin: 0;
			margin-bottom: 20px;
			padding-top: 158px;
		}
		> p {
			font-weight: 600;
			font-size: 16px;
			text-align: center;
			color: #000;
			margin: 0;
			width: 650px;
			margin: 0 auto;
			margin-bottom: 168px;
		}
	}

	&__ticker {
		// overflow: hidden;
		width: 100%;
		// margin: 0 auto;
		position: absolute;
		top: 21.625rem;
		left: 0;
	}
	&__ticker-wrapper {
		display: flex;
		margin-bottom: 48px;
		// max-width: 2930px;
		width: 125%;
		animation: ticker 36s linear infinite;
	}
	&__item {
		display: flex;
		font-weight: 400;
		font-size: 16px;

		align-items: center;
		justify-content: center;
		color: #000;

		gap: 8px;
		padding: 0 22px;
		p {
			margin: 0;
		}
	}
	&__img {
		border-radius: 50px;
	}
	&__wrapper {
		padding-bottom: 20px;
	}
	&__container {
		position: relative;
	}
	&__arrow {
		position: absolute;
		bottom: 80px;
		left: 50%;
		transform: translate(-50%);
	}
	&__more {
		position: absolute;
		left: 50%;
		bottom: -50px;
		transform: translate(-50%);
		p {
			margin: 0;
			position: absolute;
			padding-top: 26px;
			max-width: 75px;
			left: 50%;
			text-align: center;
			font-weight: 500;
			font-size: 18px;
			text-align: center;
			color: #000;
			transform: translate(-50%);
		}
	}
	&__img {
		width: 100%;
		height: auto;
		object-position: center;
		object-fit: cover;
	}
}
.ticker-1 {
	padding: 10px 12px;
	border: 1px solid #9302ff;
	border-radius: 50px;
}
.ticker-3 {
	border-radius: 50px;
	background: #a7edff;
	padding: 10px 12px;
}
.ticker-6 {
	background: rgba(147, 2, 255, 0.25);
	border-radius: 50px;
	padding: 10px 12px;
	margin-left: 22px;
}
@keyframes ticker {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}

.map {
	&__inner {
		margin-top: 50px;
		width: 100vw;
		height: 100vh;
	}
}
