.profile {
	&__title {
		margin: 0;

		font-weight: 500;
		font-size: 30px;
		color: $black;
		display: flex;
		gap: 4px;
		align-items: first baseline;
		justify-content: center;

		span {
			font-weight: 500;
			font-size: 16px;
			color: $purple;
			margin: 0;
			cursor: pointer;
		}
	}
	&__form {
		margin-top: 55px;
		display: flex;
		align-items: center;
		justify-content: center;
		// flex-direction: column;
		gap: 45px;

		position: relative;

		// @media (max-height: 850px) {
		// 	overflow-y: scroll;
		// 	overflow: scroll;
		// }
	}

	&__row {
		p {
			font-weight: 500;
			font-size: 24px;
			color: rgba(0, 0, 0, 0.4);
			margin: 0;
		}
		input {
			background: none;
			outline: none;
			border: none;
			font-weight: 500;
			font-size: 20px;
			color: $black;
			padding: 10px 0px;
			border-bottom: 1px solid rgba(0, 0, 0, 0.4);
		}
	}

	&__name {
		margin-bottom: 36px;
	}
	&__email {
		margin-bottom: 36px;
	}

	&__index {
		margin-bottom: 36px;
	}

	&__city {
		margin-bottom: 36px;
	}

	&__main {
		position: relative;
	}
	&__submit-info {
		position: absolute;

		right: 37.8%;
		top: -77px;

		transform: translate(50%);

		color: $blue;
		background: none;
		outline: none;
		border: none;
		font-weight: 500;
		font-size: 16px;

		display: none;
		cursor: pointer;
	}

	&__submit-address {
		position: absolute;

		right: 40.9%;
		top: -77px;

		transform: translate(50%);

		color: $blue;
		background: none;
		outline: none;
		border: none;
		font-weight: 500;
		font-size: 16px;

		display: none;
		cursor: pointer;
	}
}

.person__title {
	margin-top: 126px;
}
.address__title {
	margin-top: 60px;
}

.sidebar {
	// margin-top: 150px;
	position: absolute;
	top: 35px;
	left: 0px;
	&__active {
		width: 90px;
		height: 90px;
		border-radius: 100%;
		box-shadow: 0 0 20px 0 rgba(228, 192, 255, 0.8);

		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 1;
	}
	&__circle {
		width: 90px;
		height: 90px;
		border-radius: 100%;
		border: 1px solid #e4c0ff;

		display: flex;
		align-items: center;
		justify-content: center;

		cursor: pointer;
		z-index: 1;
	}

	&__inner {
		display: flex;
		flex-direction: column;
		gap: 45px;
	}
}
